header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #DAD2D8;
  display: flex;
  justify-content: right;
  align-items: center;
  border-bottom: 1px solid #0D0106;
}

.menu {
  padding-right: 18%;
}

.menu a {
  margin: 0 4px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

