<mat-tab-group [selectedIndex]="selectedTab.value"
               (selectedIndexChange)="selectedTab.setValue($event)">
  <mat-tab label="Select sender">
    <div class="column">
      <mat-form-field>
        <input matInput (input)="search($event)" placeholder="Search">
      </mat-form-field>
      <mat-list>
        <app-client-details *ngFor="let user of users?.items"
                            [selected]="user.id === selectedUserId"
                            [user]="user"
                            (click)="selectUser(user)"></app-client-details>
      </mat-list>
    </div>
  </mat-tab>
  <mat-tab label="Enter amount">
    <div class="column">
      <mat-form-field floatLabel="always">
        <mat-label>Amount</mat-label>
        <input matInput type="number" class="right-align" placeholder="0"
               [formControl]="$any(transactionForm.controls['amount'])"
               oninput="this.value = Math.abs(this.value)">
        <span matTextPrefix>$</span>
        <span matTextSuffix>.00</span>
        <mat-error *ngIf="transactionForm.controls['amount'].hasError('noValue')">You must enter amount</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Write a description" [formControl]="$any(transactionForm.controls['description'])"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="openDialog()">Create</button>
    </div>
  </mat-tab>
</mat-tab-group>

