<header>
  <button mat-button color="primary" routerLink="/client">Home</button>
  <button mat-button color="primary" routerLink="/client/create-transaction">Make transaction</button>
  <button mat-button color="primary" routerLink="/client/create-loan">Apply for a loan</button>
  <button mat-button color="warn" (click)="logout()">LogOut</button>
</header>
<div class="client-info">
<!--  <h1>{{currentUser?.userName}}</h1>-->
  <div class="left-column">
    <h1>Current User</h1>
    <h2>user#email.com</h2>
    <p>1000</p>
  </div>
</div>
<router-outlet></router-outlet>


