<header>
  <button mat-button color="primary" routerLink="/client">Home</button>
  <button mat-button color="primary" routerLink="/client/create-transaction">Make transaction</button>
  <button mat-button color="primary" routerLink="/client/create-loan">Apply for a loan</button>
  <button mat-button color="warn" (click)="logout()">LogOut</button>
</header>
<div class="client-info">
  <div class="left-column">
    <h1>{{currentUser?.userName}}</h1>
    <h2>{{currentUser?.email}}</h2>
    <p>{{userBalance?.balance}}</p>
  </div>
</div>
<router-outlet></router-outlet>
